

/*-------------- Pink Color  ---------------- */



/* color */

.theme_color, .main-header .links-nav li .fa, .main-header .links-nav li  a:hover, .main-header .header-top .social-links a:hover, .main-header.header-style-two .info-box .icon-box,  .main-header .info-box .icon-box, 
.header-style-three  .header-upper  .main-menu .navigation > li:hover > a, .header-style-three .header-upper  .main-menu .navigation > li.current > a, .header-style-three .header-upper  .main-menu .navigation > li.current-menu-item > a, 
.contact-section .contact-info li .icon,  .testm-style1  .quoteicon, .news-style1 .detail, .single-blog-post  ul.blogmeta-info li i, .pricing-section .features li span, .footer1 a:hover, .feature-section .icon_box, .banner-one-area .banner-content h2 span, .sidebar .downloads li a .icon, .testimonial-slide .inner .author-info h3, .shop-page-area .inner-shop-top-right ul > .active i, .product-box1 .product-social li , .product-box2 .media-body .product-box2-cart li a, .sidebar-widget .menu-sidebar a:hover, .header-upper .main-menu .navigation > li:hover > a, .header-upper .main-menu .navigation > li.current > a, .header-upper .main-menu .navigation > li.current-menu-item > a, .page-title .bread-crumb li a, .slider-btn1:hover, .service_vision .tabtop .active a::before, .project-right-widget ul li i, .blogbtn, .single-blog-post .share li a:hover  


 {
	color: #00e7ff;
}
.nav-social a{ color:#fff;}
.header-lower .main-menu .navigation > li:hover > a{ color:#00e7ff;}






/* background color */

 .header-lower .main-menu .navigation > li:first-child::before, .header-upper .btn-style-one, .msstyle-1 .bz_search_box button, .slider-btn1, .sec-title span.decor-line:before, .sec-title span.decor-line:after, .welstyle2 .service-style1 .service-item .hover-link i, .service-style1 .service-item a, .service-style1 .service-item a, .service-style1 .service-item .hover-link i, .project-slider .owl-prev, .project-slider .owl-next, .team-style-1 .single-team .item-image a.plus-icon, .team-style-1 .single-team:hover .item-content h3 a, .news-style1 .news-block .image .post-date,  .single-blog-post   .inner, .pricing-section  .pt-footer, .quickcontact-strip, .footer1 h3::after, .footer1 .subscribe_us button, .subscribe_now  button, .latest-post ul li i, .footersec .social li a:hover,  .faq-accordion .panel-default .panel-heading:hover, .sidebar .search-box .form-group button, .sidebar .downloads li a:hover .icon, .sidebar .styled-nav li.current a, .sidebar .styled-nav li a:hover, .sidebar .styled-nav li.current a:before, .quick-form h2, .quick-form .thm-btn, .product-box1 .adcartbtn a,  .sidebar-title span.decor-line::before, .sidebar-title span.decor-line::after, .sidebar-title span.decor-line::before, .sidebar-title span.decor-line::after, .shop-page-area .inner-shop-details .inner-product-details-right .inner-product-details-cart li a.button, .shop-page-area .inner-shop-details .featured-products-area2 .owl-controls .owl-nav div:hover, .main-header .btn-outer .quote-btn, .main-menu .navigation > li > ul > li:hover > a, .slider-btn2:hover, .sticky-header .main-menu .navigation > li:hover > a, .sticky-header .main-menu .navigation > li.current > a, .sticky-header .main-menu .navigation > li.current-menu-item > a, .hoverview a, .service-style2 .inner-box:hover .icon-box, .pricing-section .professional .title, .main-header.header-style-three .btn-outer .quote-btn, .featurebox::after, .faq-accordion .panel-default .panel-heading.active, .faq-accordion .panel-default .panel-heading:hover, .nofindpage .subscribe_us button, .backtohome:hover, .product-box1 .product-social li  

 {
	background-color: #006de4;
}
.welbox, .welbox:after, .welbox:before, .welbox::after{background-color: #00336a!important;}

.service_vision .tabtop .active a, .project-slider .owl-next,  .project-slider .owl-prev, .scroll-to-top:hover {
	background-color: #006de4!important;
} 



/* border color */

.main-header .info-box .icon-box, .nav-social a, .header-upper .btn-style-one, .msstyle-1 .bz_search_box button, .slider-btn1, .service-style1 .service-item a,  .footersec .social li a:hover, .product-box1 .adcartbtn a, .shop-page-area .inner-shop-details .featured-products-area2 .owl-controls .owl-nav div:hover, .main-menu .navigation > li > ul, .ftrservimg

 {
	border-color: #004477;
}


.header-upper .btn-style-one

{
	border-color: #006de4!important;	
	
}




.counter-style1 .media::after {

	border-bottom-color: #006de4;

}


.btn-style-two {

	background: #006de4;
	border: 2px solid #006de4 !important;

}
.btn-style-two:hover{background: transparent!important;border: 2px solid #006de4 !important;color:#006de4 !important;}


.news-style1 .news-block .image .post-date::before {
	border-top-color: #006de4;

}

 .quickcontact-strip::before, .quickcontact-strip::after{
	border-bottom-color: #006de4;

}

.product-box2 .media-body .product-box2-cart li a{background: #006de4;color:#fff;}


.main-menu .navbar-header .navbar-toggle{background:#006de4!important;border-color:#006de4!important;}





